* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #111;
  color: #e0e0e0;
}

.l-box {
  padding: 0.4em;
}

a {
  text-decoration: none;
  color: #87ceeb;
}
a:hover,
a:focus {
  text-decoration: underline;
  color: #add8e6;
}
a.post-category:hover,
a.post-category:focus {
  text-decoration: none !important;
  color: #fff !important;
}

h1 {
  font-size: 1.5em;
}

h3 {
  font-weight: 100;
}

/* LAYOUT CSS */
.pure-img-responsive {
  max-width: 100%;
  height: auto;
}

#layout {
  padding: 0.25em;
}

.header {
  text-align: left;
  top: auto;
  margin: 1em 1em 0;
}

.sidebar {
  background: #111;
  color: #e0e0e0;
}

.brand-title,
.brand-tagline {
  margin: 0;
}
.brand-title {
  text-transform: capitalize;
}
.brand-tagline {
  font-weight: 300;
  color: #b0b0b0;
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-item {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.nav-item a {
  background: transparent;
  border: 2px solid #555;
  color: #e0e0e0;
  margin-top: 1em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 85%;
}
.nav-item a:hover,
.nav-item a:focus {
  border: 2px solid #87ceeb;
  text-decoration: none;
}

.content-subhead {
  text-transform: uppercase;
  color: #999;
  border-bottom: 1px solid #444;
  padding: 0.4em 0;
  font-size: 80%;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.content {
  padding: 0 1em 0;
}

.post {
  padding-bottom: 0.5em;
}
.post-title {
  font-size: 2em;
  color: #fff;
  margin-bottom: 0.2em;
}
.post-title a,
.post-title a:visited {
  color: #fff;
}
.post-title a:hover,
.post-title a:focus {
  color: #87ceeb;
  text-decoration: none;
}
.post-avatar {
  border-radius: 50px;
  float: right;
  margin-left: 1em;
}
.post-description {
  color: #c0c0c0;
  line-height: 1.8em;
}

.post-description a {
  text-decoration: underline;
}

.post-meta {
  color: #999;
  font-size: 90%;
  margin: 0;
}

.post-tags {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.author__avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 1em;
}

.post-category {
  margin: 0 0.1em;
  padding: 0.3em 1em;
  color: #fff;
  background: #54549c;
  font-size: 75%;
  border-radius: 8px;
}
.post-category a,
.post-category a:hover,
.post-category a:focus,
.post-category a:visited {
  text-decoration: none !important;
  color: #fff !important;
}

/*    American Palette https://flatuicolors.com/palette/us*/

  .post-category-swift {
      background: #7575d9;
  }
  .post-category-ios {
      background: #6565b3;
  }
  .post-category-tutorial {
      background: #5050a0;
  }
  .post-category-other {
      background: #8e8ee1;
  }

.post-images {
  margin: 1em 0;
}
.post-image-meta {
  margin-top: -3.5em;
  margin-left: 1em;
  color: #fff;
  text-shadow: 0 1px 1px #333;
}

.footer {
  padding: 1em 0;
  color: #ccc;
  font-size: 90%;
  text-align: center;
}

.footer a {
  padding: 1em 0;
  color: #ccc;
  font-size: 90%;
  text-decoration: underline;
  text-align: center;
}

.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
  background: none;
}

.pure-menu {
  margin-left: 0em;
}

.social-media {
  display: none;
}

.social-icon {
  font-size: 1.5em;
}

@media (min-width: 48em) {
  .content {
      padding: 2em 1em 0;
      margin-left: 25%;
  }

  .header {
      margin: 3em 3em 0;
      text-align: left;
  }

  .sidebar {
      position: fixed;
      top: 2em;
      bottom: 0;
  }
  
  .social-media {
      display: inline;
  }
  
  .social-icon {
      font-size: 1em;
  }
  
  .author__avatar {
      display: block;
      width: auto;
      height: auto;
  }
  
  .author__avatar img {
      padding: 5px;
      border: 1px solid #bfbfbf;
      width: 125px;
      height: 125px;
  }
  
  .pure-menu {
      margin-left: 2em;
  }
  
  .top-header {
      position: fixed;
      top: 0em;
      background: #111;
  }
}

.center {
justify-content: center;
}

.markdown-body pre {
  margin-bottom: 1.5em;
  background-color: #1a1a1a;
  padding: 16px 0;
  border-radius: 16px;
}

.markdown-body pre code {
  font-family: monospace;
  display: block;
  padding: 0 20px;
  color: #a9bcbc;
  line-height: 1.4em;
  font-size: 0.95em;
  overflow-x: auto;
  white-space: pre;
  -webkit-overflow-scrolling: touch;
}

.markdown-body pre code .keyword {
  color: #fc5fa3;
}

.markdown-body pre code .type {
  color: #5dd8ff;
}

.markdown-body pre code .call {
  color: #67b7a4;
}

.markdown-body pre code .property {
  color: #67b7a4;
}

.markdown-body pre code .number {
  color: #d0bf69;
}

.markdown-body pre code .string {
  color: #fc6a5d;
}

.markdown-body pre code .comment {
  color: #7f8c98;
}

.markdown-body pre code .dotAccess {
  color: #92b300;
}

.markdown-body pre code .preprocessing {
  color: #b68a00;
}